* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 60px;
}

/*Estilos para tablets*/

a {
  text-decoration: none;
}
/* header h1 { */
/* display: none; */
/* } */

.logo,
.logoCel {
  width: 100px;
  height: 100px;
}

.navbar header h1 {
  display: none;
}

li {
  list-style: none;
}

img.producto {
  width: 100%;
  height: auto;
}

.navbar {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(221, 162, 52);
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  height: auto;
  margin-bottom: 5rem;
  opacity: 1;
}

.nav-links a {
  color: #fff;
}
.nav-links {
  margin-bottom: 18px;
}

h1 {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 10px;
}

.menu li:hover {
  background-color: #cfd8c5;
  border-radius: 20px;
}

.menu li {
  text-align: center;
  align-items: center;
  padding: 5px 14px;
  border-right: 2px solid rgb(207, 216, 197);
}

.menu {
  display: flex;
  font-size: 18px;
  margin-left: 1rem;
}

/* nav ul li {
    justify-items: center;
    display: inline;
} */

.container-producto {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

.titulo-ofertas {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.quienes-somos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 12rem;
}

.quienes-somos .card {
  /* width: 50%; */
}

.productos {
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  /* gap: 1rem; */
  margin-bottom: 5rem;
}

article.card {
  display: flex;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.397);
  padding: 1em;
  flex-direction: column;
  /* align-items: stretch; */
  border-radius: 8px;
  text-align: center;
  /* margin: 10px; */
  /* width: 50%; */
  justify-content: space-between;
  align-items: center;
}
.body-card {
  width: 90%;
}

.producto {
  width: 90%;
  /* height: 200px; */
  object-fit: cover;
}

.card header {
  font-size: 24px;
  margin: 16px;
}

.card p {
  font-size: 16px;
  margin: 16px;
}

.card button {
  padding: 1em;
  background-color: #040213;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0080ff;
}

footer {
  text-align: center;
  padding: 1em;
  background-color: rgb(207, 216, 197);
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 60px;
}

.identity h2 {
  text-align: center;
  margin: 10px;
}

.identity section p {
  margin: 10px;
}

form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5rem;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 15px;
  resize: vertical;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 15px;
  resize: vertical;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 15px;
  resize: vertical;
}

label {
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

button.enviar {
  background-color: #040213;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 auto;

  transition: background-color 0.3s ease;
  padding: 16px;
}

button.enviar:hover {
  background-color: #0080ff;
}

/* Para teléfonos móviles: */
[class*="col-"] {
  width: 100%;
  padding: 24px;
}

@media only screen and (min-width: 600px) {
  /* Para tabletas: */
  .col-s-1 {
    width: 8.33%;
    padding: 14px;
  }

  .col-s-2 {
    width: 16.66%;
    padding: 14px;
  }

  .col-s-3 {
    width: 25%;
    padding: 14px;
  }

  .col-s-4 {
    width: 33.33%;
    padding: 8px;
  }

  .col-s-5 {
    width: 41.66%;
    padding: 14px;
  }

  .col-s-6 {
    width: 50%;
    padding: 14px;
  }

  .col-s-7 {
    width: 58.33%;
    padding: 14px;
  }

  .col-s-8 {
    width: 66.66%;
    padding: 14px;
  }

  .col-s-9 {
    width: 75%;
    padding: 14px;
  }

  .col-s-10 {
    width: 83.33%;
  }

  .col-s-11 {
    width: 91.66%;
    padding: 14px;
  }

  .col-s-12 {
    width: 100%;
    padding: 14px;
  }
  article.card {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .logoCel {
    display: none;
  }
  .navbar {
    flex-direction: row;
    /* justify-content: space-between; */
    height: auto;
  }
  .nav-links {
    justify-content: end;
  }
  ul {
    display: inline-block;
  }
  .navbar header h1 {
    display: flex;
  }
}

@media only screen and (min-width: 768px) {
  /* Para equipos de escritorio: */
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
  .logoCel {
    display: none;
  }
  .logo {
    display: flex;
  }
}
